body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eadbdb;
  margin: 0;
}

.calculator {
  background: #ea9494;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.display {
  text-align: right;
  margin-bottom: 10px;
  padding: 10px;
  background: #b86262;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 50px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  background: #a10e29;
  color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

button:active {
  background: #003f7f;
}
